body {
    background-color: white;
}

.navbar.bg-danger {
    background-color: rgb(141, 0, 0) !important;
}

.table>tbody>tr>td {
    color: black !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: rgb(141, 0, 0);
}

.table>thead>tr>th {
    color: black;
}