{% extends 'website/base.html' %}

{% block content %}

<div id="content">

    <!-- Navbar goes here -->
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container">
            <a class="navbar-brand" href="{% url 'website:index' %}"><i class="fas fa-virus"></i> <b>COVID-19</b> LIVE DATA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'website:api' %}">API <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <!-- Grid A -->
    <div class="container">
        <div class="row">

            <!-- Mini table -->
            <div class="col-4">
                <span>
                    <table class="table">
                        <thead>
                            <th colspan="2">{{ region }} cases</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total</td>
                                <td>{{ total }}</td>
                            </tr>
                            <tr>
                                <td>Active</td>
                                <td>{{ active }}</td>
                            </tr>
                            <tr>
                                <td>Deaths</td>
                                <td>{{ deaths }}</td>
                            </tr>
                            <tr>
                                <td>Recovered</td>
                                <td>{{ recovered }}</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </div>

            <!-- Graph -->
            <div class="col-8">
                <span>

                </span>
            </div>
        </div>
    </div>

    <br>

    <!-- Grid B -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <span>
                <table class="table">
                    <thead>
                        <th></th>
                        <th colspan="4">Total</th>
                        <th colspan="4">Per Capita</th>
                    </thead>
                    <thead>
                        <th>Country</th>
                        <th>Cases</th>
                        <th>Active</th>
                        <th>Deaths</th>
                        <th>Recovered</th>
                        <th>Cases</th>
                        <th>Active</th>
                        <th>Deaths</th>
                        <th>Recovered</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td>{{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            </span>
          </div>
        </div>
      </div>


</div>
{% endblock %}