
$primary-color:              #ff3636 !default;
$primary-states-color:       lighten($primary-color, 6%) !default;
$primary-color-opacity:      rgba(249, 99, 50, .3) !default;
$primary-color-alert:        rgba(249, 99, 50, .8) !default;

@import 'bootstrap/now-ui-dashboard/variables';